@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&family=Oswald:wght@500&family=Secular+One&family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
    
}
body{
    background-image:url(background3.jpg);
    background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
header{
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;

}
.LOGO{
    margin: 35px;
    margin-top: 30px;
    font-size: 250%; 
    font-weight: bold;
    color:white ;
    font-family: 'Asap Condensed', sans-serif;
}

.navbar ul {
 display: flex;
}

.navbar ul li{
    margin: 10px;
}
.navbar ul li a{ 
   
    display: block;
    color:white;
    font-size:20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition:0.2s;
    margin: 0 2px;
    background-color: rgba(255, 128, 0, 0.958);
}
.navbar ul li a:hover{
    color:rgb(14, 12, 10);
    background-color: rgba(148, 84, 19, 0.958);
}
h1{
    color: white;
    margin-top: 10%;
    margin-left: 10%;
}
p{
    color: white;
    margin: 0%;
    margin-left: 5%;
}
#img0{
    margin: 100px;
    justify-items: center;
    justify-content: space-around;
}
.img1{
    margin: 30px;
    margin-top: 30px;
    border-left: 6px solid  rgba(255, 128, 0, 0.958);
    background-color: lightgrey;
    box-shadow: 0 7px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px 10px 10px 10px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 2s, transform 4s;
}
.img1:hover{
    opacity: 1;
    transform: translateY(5px);
}
#text1{
    font-size: 650%;
}
#text2{
    font-size: 200%;
    padding-left: 130px;
   

}
#flip{
    color: white;
    font-size: 150%; 
}

#panel, #flip {
  
   
    padding: 5px;
    text-align: center;
    background-color:  rgba(255, 128, 0, 0.958);
    border: solid 2px   rgba(255, 128, 0, 0.958);
  }
#panel{
    font-size: 120%;
    padding: 50px;
    display: none;
    background-color:  rgba(255, 128, 0, 0.958);
     
}
.social{
    margin: 10px;
}
.about{
    margin: 0%;
    color: white; 
    text-align: center;
    font-family: 'Asap Condensed', sans-serif;
    background-color:rgba(255, 128, 0, 0.958) ;
 
}



